html,
body {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: black;
  font-family: 'Pangolin', regular;
  background-color: #FFC9D0;
  color: white;
  text-align: center;
  font-size: 35px;
}

.center{
  display: flex;
  justify-content: center;
}

.left{
  display: flex;
  justify-content: flex-start;
}

.right{
  display: flex;
  justify-content: flex-end;
}

.script{
  font-family: 'Parisienne', regular;
  color: #D69B7D;
  font-size: 50px;
}

.cross-out{
  text-decoration: line-through;
  text-decoration-color: gray;
}

.shadowed{
  text-shadow: 5px, 2px, green;
}

.words{
  margin-top: 30px;
  margin-bottom: 80px;
  margin-left: 200px;
  margin-right: 200px;
  color: #1B0019;
}

.tab1{
  margin-left: 70px;
}

.tab2{
  margin-left:150px;
}

.tab3{
  margin-left:230px;
}

.tab4{
  margin-left: 310px;
}

.tab5{
  margin-left: 500px;
}

.tab6{
  margin-left: 650px;
}

.tab7{
  margin-left: 780px;
}

.tab8{
  margin-left: 920px;
}

.tab9{
  margin-left: 980px;
}

.tab10{
  margin-left: 1100px;
}

.tab11{
  margin-left:1300px;
}

.tab12{
  margin-left: 1400px;
}

.tab13{
  margin-left: 1520px;
}

.tab14{
  margin-left: 1800px;
}

.tab15{
  margin-left: 1900px;
}

.tab16{
  margin-left: 2200px;
}

.tab17{
  margin-left: 2400px;
}

.level1{
  margin-top: 920px;
  margin-bottom: 0px;
}

.level2{
  margin-top: -110px;
  margin-bottom: 0px;
  margin-right: 50px;
}

.title2{
  margin-bottom: 80px;
  margin-top: 5px;
  color: white;
}

.title3{
  margin-bottom: 10px;
  margin-top: 10px;
  color: white;
}

.title4{
  margin-bottom: 10px;
  margin-top: 10px;
  color: white;
}

.page6{
  color: #1B0019;
  margin-right: -600px;
  margin-top: 30px;
  margin-bottom: 80px;
  margin-left: 200px;
}

.page7{
  color: #1B0019;
  margin-right: -1800px;
  margin-top: 60px;
  margin-bottom: 80px;
  margin-left: 200px;
}

.small{
  font-size: 24px;
  margin: 5px;
  margin-bottom: 60px;
}

a{
  color: black;
}

a:hover{
  color: gray;
}

h1{
  text-shadow: 6px 4px gray;
}

img.resize{
  max-width:15%;
  max-height:15%;
}

.button{ /* reference: https://fdossena.com/?p=html5cool/buttons/i.frag */
  background-color: #F7F7F2;
  border
  color: white;
  padding: 0px;
  text-align: center;
  display: inline-block;
  font-size: 25px;
  margin: 4px 2px;
  border-radius: 25px;
  height: 70px;
  width: 180px;
  font-family: 'Pangolin', regular;
  box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
  position:relative;
  margin-bottom: 20px;
}

#clockwise { /* reference: https://codepen.io/vitoralberto/pen/OPYyYB */
		-webkit-animation: rotation 4s infinite linear;
}

@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}


@media only screen and (max-width: 1300px){
  body{
    font-size: 22px;
    margin-left: -100px;
    margin-right: -100px;
  }
  .title2{
    margin-bottom: 50px;
  }
  h1{
    text-shadow: 4px 4px gray;
  }
  .small{
    font-size: 16px;
    margin-bottom: 40px;
  }
  .words{
    margin-left: 50px;
    margin-right: 50px;
  }

  .tab3{
    margin-left:350px;
  }

  .tab4{
    margin-left:400px;
  }
}

@media only screen and (max-width: 900px){
  body{
    font-size: 17px;
    margin-left: -100px;
    margin-right: -100px;
  }
  .title2{
    margin-bottom: 40px;
  }
  h1{
    text-shadow: 3px 4px gray;
  }
  .small{
    font-size: 15px;
    margin-bottom: 40px;
  }

  .tab3{
    margin-left:250px;
  }

  .tab4{
    margin-left:300px;
  }
}

@media only screen and (max-width: 700px) {
  body {
    font-size: 15px;
    margin-left: -150px;
    margin-right: -150px;
  }
  .button{
    height: 50px;
    width: 140px;
    font-size: 20px;
    border-radius: 14px;
  }
  h1{
    text-shadow: 4px 3px gray;
  }
  .title2{
    margin-bottom: 30px;
  }
  .small{
    font-size: 14px;
    margin-bottom: 30px;
  }

  .tab3{
    margin-left: 200px;
  }

  .tab4{
    margin-left: 250px;
  }
}
